<% provide(:title, 'About') %>

	<h1>About STE(A)M Truck™ </h1>

		<h2>Welcome to Atlanta’s first mobile maker space!</h2>

		<div class="hero-unit">
			<iframe width="853" height="480" src="//www.youtube.com/embed/g5NRDQrfINE?rel=0" frameborder="0" allowfullscreen></iframe>
		</div><br>

		<p>STE(A)M Truck™ is a 21st century build-mobile where students solve authentic problems and build grit, self-reliance, ingenuity, teamwork and artisanship.</p>

		<p>STE(A)M Truck™ inspires youth to learn Science, Technology, Engineering, Arts and Math by bringing the coolest tools, equipment and mentors directly to their schools. Working in collaboration with our partners, including WonderRoot, STE(A)M Truck™ will be engaging and transformational.</p>

		<p>As Atlanta’s mobile maker space, STE(A)M Truck™ will travel from school to school with all the tools (from 3D printers to hand tools) and supplies necessary for students to make and build with their hands.</p>

		<h2>HELP BUILD THE TRUCK!</h2>

		<p>Community Guilds is fiscally sponsored by The Foundery, a registered 501c3 organization, and donations that support our programming are tax deductible.   The Foundery’s EIN is 45-3526808.</p>

