<% provide(:title, 'About') %>

	<h1>About STE(A)M Truck™ </h1>

		<h2>Welcome to Atlanta’s first mobile maker space!</h2>


		<p>STE(A)M Truck™ is a 21st century build-mobile where students solve authentic problems and build grit, self-reliance, ingenuity, teamwork and artisanship.</p>

		<p>STE(A)M Truck™ inspires youth to learn Science, Technology, Engineering, Arts and Math by bringing the coolest tools, equipment and mentors directly to their schools. Working in collaboration with our partners, including WonderRoot, STE(A)M Truck™ will be engaging and transformational.</p>

		<p>As Atlanta’s mobile maker space, STE(A)M Truck™ will travel from school to school with all the tools (from 3D printers to hand tools) and supplies necessary for students to make and build with their hands.</p>

		<div class="hero-unit">
			<iframe width="853" height="480" src="//www.youtube.com/embed/g5NRDQrfINE?rel=0" frameborder="0" allowfullscreen></iframe>
		</div><br>

		<p>
			Community Guilds is a Georgia non-profit based in the Atlanta metro region committed to closing the opportunity and achievement gap in public education by providing transformational, hands-on apprenticeships and maker space experiences to urban youth. Although all youth benefit from our programing, we target at-risk students not thriving in a traditional school setting. Community Guilds combines elements that are proven to work: mentoring, hands on learning, peer leadership, and real world entrepreneurship. We pair urban middle and high school youth with artisans and small business owners located closely to their public school and create accessible opportunities where students learn to tinker, design, build, fail, succeed, and ultimately create masterpieces with their own hands. We empower our youth by teaching them how to fund their enterprise, market their work and sell their finished masterpieces. Our unique combination of apprenticeship learning with authentic entrepreneurship in a supportive Guild structure not only engages youth but ensures students finish what they start and persevere when encountering challenges.
		</p><br>

		<h2>HELP BUILD THE TRUCK!</h2>

		<p>Community Guilds is fiscally sponsored by The Foundery, a registered 501c3 organization, and donations that support our programming are tax deductible.   The Foundery’s EIN is 45-3526808.</p>

