<% provide(:title, 'Contact') %>

<h1>Contact</h1>

	<h3>You can reach us at:</h3>

	<p>info@community-guilds.org</p>

	</p>And if you’re really classy, send us a letter:</p>

	<p>	Community Guilds</p>

	<p>	501 Dancing Fox Road</p>

	<p>	Decatur, GA 30032</p>

 
