<% provide(:title, 'Help') %>

	<h1>Help</h1>

			<p>In order for student to have access to the information and features of STE(A)M Truck, they must first register for the site and sign in.</p>

			<p>Once signed in, the student will be able to visit their project page(s) and contribute to the project that their class will be working on.</p>

			<p>The class project page will be administered by either their teacher or a representative from <a href="http://community-guilds.org/steamtruck">STE(A)M Truck™</a>.</p>


