<% provide(:title, 'Help') %>
<body id="home">
	<h1>Help</h1>
	<div class="hero-unit center">
				<p>
				<%= link_to image_tag("community_guilds.png", alt: "Community Guilds"), 'http://community-guilds.org/steamtruck' %>
				</p>

				<p>The class project page will be administered by either their teacher or a representative from <a href="http://community-guilds.org/steamtruck">STE(A)M Truck™</a>.</p>
	</div>
</body>