<% provide(:title, 'Projects') %>
<h1>Projects</h1>
<% @projects.each do |project| %>
	<ul>	
			<li><%= link_to "#{project.project_title}", project %> | <%= project.description %> | <%= time_ago_in_words(project.created_at) %> ago</li> 

	</ul>
<% end %>

<%= link_to "New Project", new_project_path, class: "btn btn-large btn-primary" %>
